h1{
    font-weight: bold;
}
.container{
    display: flex;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    height: 300px;
    background-color: aqua;
    justify-content: center;
    border-style: solid;
    border-color: blue;
    margin: 100px;
}

.item{
    background-color: orange;
    padding: 20px;
    margin: 5px;
    height: 50px;
    width: 300px;
    text-align: center;
}

.artigo-01:{
    font-weight: bold;
}

.artigo-01:hover{
    font-size: 60px;
}

.artigo-02{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

